<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headFragment(title)">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style type="text/css">
        .styleprice{
            font-size: 24pt;
            font-family: Arial;
        }

        .card-titlein{
            font-size: 28pt;
            font-family: "Britannic Bold";
        }

    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Панель администратора</h1>

    </div>

    <form th:action="@{/admin/search}" style="margin-bottom: 20px; "> <!-- thymeleaf выставить нужный адрес -->
        <div class="form-row">
            <div class="col-10">
                <input class="form-control" name="name" th:value="${search}"/>
            </div>
            <div class="col">
                <button class="btn btn-success btn-block" type="submit">Поиск</button>
            </div>
        </div>
    </form>


    <div class="row" th:if="${items.size()>0}">
        <div class="col-sm-4 mb-3" th:each="item : ${items}">


            <div class="card">
                <img class="card-img-top" th:src="@{/media/{img} (img=${item.img})}" th:alt="${item.name}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${item.name}"></h5>
                    <form method="post" th:action="@{/admin/{id}/delete(id=${item.id})}">
                        <button type="submit" class="btn btn-primary" style="margin-bottom: 10px; ">Удалить</button>
                    </form>

                    <form method="get" th:action="@{/admin/{id}/redact(id=${item.id})}">
                        <button type="submit" class="btn btn-primary" style="margin-bottom: 10px; ">Редактировать</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" th:if="${items.size()==0}">
        <div class="col">
            <span>Уважаемый, администратор!</span>
            <span>Опубликуйте пост</span>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <form method="post" th:action="@{/admin}" enctype="multipart/form-data">
                <!-- На стороне клиента можно сделать валидацию, но на стороне сервера она обязательно должна дублироваться! -->
                <div class="form-group">
                    <label for="name">Название поста*</label>
                    <input type="text" name="name" class="form-control" id="name" required minlength="5" maxlength="100" placeholder="Название продукта" />
                    <small id="name-help" class="form-text text-muted">Введите, пожалуйста, название поста (количество символов от 5 до 100)</small>
                </div>

                <div class="form-group">
                    <label for="name">Описание поста*</label>
                    <input type="text" name="description" class="form-control" id="description" required minlength="5" maxlength="1000" placeholder="Описание поста" />
                    <small id="description-help" class="form-text text-muted">Введите, пожалуйста, описание к посту (количество символов от 5 до 1000)</small>
                </div>

                <div class="form-group">
                    <label for="img">Изображение к посту*</label>
                    <input type="file" name="img" class="form-control-file" id="img" accept="img/jpeg,img/png" />
                </div>


                <button type="submit" class="btn btn-primary" style="margin-bottom: 50px; ">Добавить</button>
            </form>
        </div>
    </div>
<div th:fragment="scriptsFragment">
    <script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</div>
</div>
</body>
</html>
