<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headFragment(title)">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style type="text/css">
        .styleprice{
            font-size: 24pt;
            font-family: Arial;
        }

        .card-titlein{
            font-size: 28pt;
            font-family: "Britannic Bold";
        }

    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Панель администратора</h1>
    </div>



    <div class="row mt-5">
        <div class="col">
            <form method="post" th:action="@{/admin/{id}/redact(id=${item.id})}" enctype="multipart/form-data">
                <!-- На стороне клиента можно сделать валидацию, но на стороне сервера она обязательно должна дублироваться! -->
                <div class="form-group">
                    <label for="name">Название продукта*</label>
                    <input type="text" name="name" class="form-control" id="name" required minlength="5" maxlength="100" th:value="${item.name}" />
                    <small id="name-help" class="form-text text-muted">Введите, пожалуйста, новое название продукта (количесвто символов от 5 до 100)</small>
                </div>

                <div class="form-group">
                    <label for="name">Описание продукта*</label>
                    <input type="text" name="description" class="form-control" id="description" required minlength="5" maxlength="1000" th:value="${item.description}" />
                    <small id="description-help" class="form-text text-muted">Введите, пожалуйста, новое описание продукта (количесвто символов от 5 до 1000)</small>
                </div>
                <div class="form-group">
                    <label for="img">Название продукта*</label>
                    <input type="file" name="img" class="form-control-file" id="img" accept="img/jpeg,img/png"  />
                </div>



                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
</div>
<div th:fragment="scriptsFragment">
    <script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</div>
</body>
</html>
