<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headFragment(title)">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style type="text/css">
        .styleprice{
            font-size: 24pt;
            font-family: Arial;
        }

        .card-titlein{
            font-size: 28pt;
            font-family: "Britannic Bold";
        }

    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Все посты</h1>
    </div>
    <form th:action="@{/search}" style="margin-bottom: 20px; "> <!-- thymeleaf выставить нужный адрес -->
        <div class="form-row">
            <div class="col-10">
                <input class="form-control" name="name" th:value="${search}"/>
            </div>
            <div class="col">
                <button class="btn btn-success btn-block" type="submit">Поиск</button>
            </div>
        </div>
    </form>


    <div class="row" th:if="${items.size()>0}">
        <div class="col-sm-4 mb-3" th:each="item : ${items}">
            <div class="card">
                <img class="card-img-top" th:src="@{/media/{img} (img=${item.img})}" th:alt="${item.name}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${item.name}"></h5>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a th:href="@{/{id}(id=${item.id})}" class="btn btn-primary">Смотреть</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row" th:if="${items.size()==0}">
        <div class="col">
            <span>Простите за временное неудобство!</span>
            <span>В данное время страница пуста</span>
        </div>
    </div>

</div>
<div th:fragment="scriptsFragment">
    <script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</div>
</body>
</html>
